<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>
</head>
<body>
    <h1>게시글 조회</h1>
    <form action="" method="post">
        <table border="1">
            <input type="hidden" name="userNo" th:value="${board.user.no}">
            <tr>
                <th>제목</th>
                <td>
                    <input type="text" name="title" th:value="${board.title}">
                </td>
            </tr>
            <tr>
                <th>작성자</th>
                <td>
                    <input type="text" th:value="${board.user.name}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="content" rows="5" cols="40" th:text="${board.content}"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <!-- 👮‍♀️ 관리자 -->
                    <th:block sec:authorize="( hasRole('ADMIN') )">
                        <button type="button" th:onclick="update()">수정</button>
                    </th:block>
                    <!-- 👩‍🏫게시글 소유자 -->
                    <th:block th:if="${ @BoardService.isOwner( board.id, #authentication.principal.user.no) }">
                        <button type="button" th:onclick="update()">수정</button>
                    </th:block>
                    <button type="button" onclick="location.href='/board/list'">목록</button>
                </td>
            </tr>
        </table>
        
        <h3>파일목록</h3>
        <section id="file-list">
            <table border="1">
                <tr>
                    <th>no</th>
                    <!-- <th>id</th> -->
                    <th>이미지</th>
                    <th>파일명</th>
                    <th>용량</th>
                    <th>타입</th>
                    <th>액션</th>
                </tr>
                <th:block th:if="${fileList == null || fileList.isEmpty()}">
                    <tr>
                        <td colspan="6" align="center">조회된 데이터가 없습니다.</td>
                    </tr>
                </th:block>
                <th:block th:each="file : ${fileList}">
                    <tr>
                        <td><span th:text="${file.no}"></span></td>
                        <!-- <td><span th:text="${file.id}"></span></td> -->
                        <td>
                            <img th:src="|/img?id=${file.id}|" height="100"  alt="파일 이미지">
                        </td>
                        <td><span th:text="${file.fileName}"></span></td>
                        <td><span th:text="${file.fileSize}"></span></td>
                        <td><span th:text="${file.type}"></span></td>
                        <td>
                            <button type="button" th:onclick="download( [[${file.id}]] )">다운로드</button>
                        </td>
                    </tr>
                </th:block>
            </table>
        </section>

    </form>
    <h3>댓글목록</h3>
    <section id="comment-list">

    </section>

    <section id="comment-form">
        <form action="">
            <table>
                <tr>
                    <td>작성자</td>
                    <td>
                        <input type="text" name="writer" id="writer">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea name="content" id="content" rows="5" cols="40"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <button type="button" onclick="insertComment()">등록</button>
                    </td>
                </tr>
            </table>
        </form>
    </section>
    <div style="height: 300px;"></div>

    <!-- ⭐ Java 객체 ➡ JavaScript 객체로 전달하기 -->
    <!-- <script th:inline="javascript">
        let board = [[${board}]]
        console.dir(board)
        console.log(board.title);
    </script> -->


    <script>

        // 수정 화면 이동
        function update() {
            let id = "[[${board.id}]]"
            location.href = "/board/update?id=" + id
        }

        // 다운로드
        function download( id ) {
            location.href = `/file/${id}`
        }

        // 파일 목록 비동기 요청 
        function getFileList() {
            let parentTable = 'board'
            let parentNo = '[[${board.no}]]'
            let url = `/file?parentTable=${parentTable}&parentNo=${parentNo}`

            let request = new XMLHttpRequest()

            request.onreadystatechange = function() {
                if( request.readyState == request.DONE && request.status == 200 ) {
                    console.log('파일 목록 갱신 성공');
                    let fileList = request.responseText
                    let $fileList = document.getElementById('file-list')
                    $fileList.innerHTML = ""        // 기본 파일 목록 비우기
                    $fileList.innerHTML = fileList  // 새로 조회한 파일목록으로 갱신
                }
            }
            request.open('GET', url, true)
            request.send()
        }

        // 댓글 등록
        function insertComment() {
            const boardNo = "[[${board.no}]]"
            let writer = document.getElementById('writer').value
            let content = document.getElementById('content').value
            console.log(`writer : ${writer}`);
            console.log(`content : ${content}`);

            let data = {
                'boardNo' : boardNo,
                'writer' : writer,
                'content' : content
            }

            let request = new XMLHttpRequest()
            let url = '/comment'
            request.open('POST', url, true)
            request.setRequestHeader('Content-Type', 'application/json')
            request.send( JSON.stringify(data) )

            request.onreadystatechange = function() {
                if( request.readyState == request.DONE && request.status == 200 ) {
                    let response = request.responseText
                    if( response == 'SUCCESS' ) {
                        console.log('댓글 등록 성공');
                        // 댓글 목록 갱신
                        commentList()

                        // 입력한 작성자, 내용 비우기
                        document.getElementById('writer').value = ""
                        document.getElementById('content').value = ""
                    }
                }
            }
            
        }

        // 댓글 목록
        commentList()
        function commentList() {
            let request = new XMLHttpRequest()
            let boardNo = "[[ ${board.no} ]]"
            let url = `/comment?boardNo=${boardNo}`
            request.open('GET', url, true)
            request.send()

            request.onreadystatechange = function() {
                let commentList = request.responseText
                let $commentList = document.getElementById('comment-list')
                $commentList.innerHTML = commentList
            }
        }

        // 댓글 삭제
        function removeComment( id ) {
            let request = new XMLHttpRequest()
            let url = `/comment/${id}`
            request.open('DELETE', url, true)
            request.send()
            request.onreadystatechange = function() {
                if( request.readyState == request.DONE && request.status == 200 ) {
                    let response = request.responseText
                    if( response == 'SUCCESS' ) {
                        console.log('댓글 삭제 성공');
                        commentList()
                    }
                    else {
                        alert('댓글 삭제 실패')
                    }
                }
            }
        }
        
        // 댓글 [수정] 버튼 클릭 시 - 수정 폼으로 전환
        function editComment( button, id ) {
            console.log(button);
            let $table = button.closest('table')
            console.log($table);

            // 기존 작성자와 기존 내용을 가져오기
            let writer = $table.querySelector('.comment-writer').textContent
            let content = $table.querySelector('.comment-content').textContent
            
            // 기존 조회 폼은 숨김
            $table.style.display = 'none'

            // 수정 폼 삽입
            let updateForm = `
                <table>
                    <tr>
                        <td>
                            <input type="text" name="writer" id="comment-writer" value="${writer}" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea name="content" id="comment-content" rows="5" cols="40">${content}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <button type="button" onclick=" updateComment( '${id}' ) ">수정</button>           
                            <button type="button" onclick=" cancelComment( this )">취소</button>
                        </td>
                    </tr>
                </table>
            `
            // DOM 노드는 after() 함수로 다음 요소로 추가
            // $table.after(updateForm)
            // 텍스트로된 html 코드를 다음 요소로 추가
            $table.insertAdjacentHTML("afterend", updateForm)
            
        }

        // 댓글 수정 요청  
        function updateComment( id ) {
            console.log(`id : ${id}`);
            let commentWriter = document.getElementById('comment-writer').value
            let commentContent = document.getElementById('comment-content').value
            let data = {
                'id'    : id,
                'writer' : commentWriter,
                'content' : commentContent
            }

            let request = new XMLHttpRequest()
            let url = '/comment'
            request.open('PUT', url, true)
            request.setRequestHeader('Content-Type', 'application/json')
            request.send( JSON.stringify(data) )

            request.onreadystatechange = function() {
                if( request.readyState == request.DONE && request.status == 200 ) {
                    let response = request.responseText
                    if( response == 'SUCCESS' ) {
                        console.log('댓글 수정 성공');
                        commentList() // 댓글 목록 갱신
                    }
                    else {
                        alert('댓글 수정 실패')
                    }
                }
            }
            
        }

        // 댓글 수정 중 - 취소 버튼 클릭 시
        function cancelComment( cancelButton ) {
            // 수정폼
            let $table = cancelButton.closest('table')

            // 조회폼
            let $comment = $table.previousElementSibling  // 바로 앞의 형제자매 요소

            $comment.style.display = 'table'    // 조회폼 보여주기
            $table.remove()                     // 수정폼 제거

        }

        // 답글 버튼 클릭 시 - 답글 등록 폼 추가
        function insertReply( insertButton, parentNo ) {
            let $table = insertButton.closest('table')  // 조회 폼 

            let insertForm = `
                <table class="reply-form">
                    <tr>
                        <td>
                            <input type="text" name="writer" id="reply-writer" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <textarea name="content" id="reply-content" rows="5" cols="40"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            <button type="button" onclick=" createReply( ${parentNo} ) ">등록</button>           
                            <button type="button" onclick=" cancelComment( this )">취소</button>
                        </td>
                    </tr>
                </table>
            `
            // 답글 등록 폼이 여러개 생기지 않도록 기존 등록 폼 제거
            let replyForms = document.getElementsByClassName('reply-form')
            for (let i  = 0; i < replyForms.length; i++) {
                const replyForm = replyForms[i];
                replyForm.remove()
            }

            // 텍스트로된 html 코드를 다음 요소로 추가
            $table.insertAdjacentHTML("afterend", insertForm)
        }
        
        // 답글 등록 요청
        function createReply( parentNo ) {
            let boardNo = "[[${board.no}]]"
            let writer = document.getElementById('reply-writer').value
            let content = document.getElementById('reply-content').value

            let data = {
                parentNo : parentNo,
                boardNo : boardNo,
                writer : writer,
                content : content
            }

            let request = new XMLHttpRequest()
            let url = "/comment"
            request.open("POST", url, true)
            request.setRequestHeader('Content-Type', 'application/json')
            request.send( JSON.stringify(data) )

            request.onreadystatechange = function() {
                if( request.readyState == request.DONE && request.status == 200 ){
                    let response = request.responseText
                    if( response == 'SUCCESS' ) {
                        console.log('답글 등록 성공');
                        commentList()
                    }
                    else {
                        alert('답글 등록 실패')
                    }
                }
            }
        }
     </script>

</body>
</html>
